* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    font-family: curvy;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.container {
    display: flex;
    flex-wrap: wrap;   
    width: 80vw;
    height: 40vh;
}

.square {
    width: calc(100% / var(--size));
    height: calc(100% / var(--size));
    border: 1px solid darkgrey;
}

.hovered:hover {
    background-color: var(--bg);
}

h1 {
    text-align: center;
}
button {
    padding: 10px 25px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 1.1em;
    font-weight: 700;
}
